<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>DBXperiment</title>
  </head>
  <body>
    <header>
      <div class="logo">

<<<<<<< HEAD
              <li><a href="/">Home</a></li>
              <% if logged_in?%>
              <li><a href="#">Signed in as <%= current_user.first_name %></a></li>
              <li><a href="/sessions/logout">Logout</a></li>
              <% else %>
              <li><a href="/users/new">Register</a></li>
              <li><a href="/sessions/login">Login</a></li>
              <% end %>

              <a href="/users/<%= current_user.id %>/profile">profile</a>

              <a href="/users/new">register</a>
              <a href="/sessions/new">login</a>


          </ul>
        </div><!--/.nav-collapse -->
=======
>>>>>>> master
      </div>
      <div class="navbar">
        <ul>
          <li class="nav_list">username</li>
          <li class="nav_list">logout</li>
          <li class="nav_list">login</li>
          <li class="nav_list">creat user</li>
        </ul>
      </div>
    </header>
      <%= yield %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
