<div class="experiment_container">
  <h1>Create Experiment</h1>
    <%= form_for :experiment, url: experiments_path do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :problem %><br>
        <%= f.text_area :problem %>
      </p>
      <p>
        <%= f.label :hypothesis %><br>
        <%= f.text_area :hypothesis %>
      </p>
      <p>
        <%= f.label :materials %><br>
        <%= f.text_area :materials %>
      </p>
      <p id="procedure_input">
        <%= f.label :procedures %><br>
        <textarea name="experiment[procedures][]" id="experiment_procedure"></textarea>
      </p>
      <button id="procedure_button">new procedure</button>
      <p>
        <%= f.label :results %><br>
        <%= f.text_area :results %>
      </p>
      <p>
        <%= f.label :conclusion %><br>
        <%= f.text_area :conclusion %>
      </p>
      <div>
        <b><%= label :active, "Active:" %></b>
        <%= label :active, "Yes" %>
        <%= f.radio_button :active, false , :checked => true , :value => false %>
        <%= label :active, "No" %>
        <%= f.radio_button :active, false , :checked => true , :value => false %>
      </div>

      <p>
        <%= f.label :start_date %><br>
        <%= f.date_field :start_date %>
      </p>
      <p>
        <%= f.label :end_date %><br>
        <%= f.date_field :end_date %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>
</div>
