<div class="experiment_show_container">
  <div class="exp_title">
    <h1>Experiment: <%= @experiment.title %></h1>
  </div>
    <ul>
      <li>
        <label class="exp_header">Problem:</label> <%= @experiment.problem %>
      </li><br>
       <li>
       <label class="exp_header">Proposal:</label> <%= @experiment.proposal.abstract %>
      </li><br>
      <li>
        <label class="exp_header">Hypothesis:</label> <%= @experiment.hypothesis %>
      </li><br>
      <li>
        <label class="exp_header">Materials:</label> <%= @experiment.materials %>
      </li><br>
      <li>
        <label class="exp_header">Procedures:</label> <%= @experiment.procedure %>
      </li><br>
      <li>
        <label class="exp_header">Results:</label> <%= @experiment.results %>
      </li><br>
      <li>
        <label class="exp_header">Conclusion:</label> <%= @experiment.conclusion %>
      </li><br>
      <li>
        <label class="exp_header">Active:</label> <%= @experiment.active %>
      </li><br>
      <li>
        <label class="exp_header">Begin date:</label> <%= @experiment.start_date %>
      </li><br>
      <li>
        <label class="exp_header">End date:</label> <%= @experiment.end_date %>
      </li><br>
      <li>
      </li>
      <li>
      </li>
      <div id="researcher_container">
        <h3> Researchers </h3>
        <ul>
        <% @experiment.researchers.each do |researcher| %>
          <li id="researcher_name"><%= link_to "#{researcher.first_name} #{researcher.last_name}", user_path(researcher) %></li>
        <% end %>
        </ul>
      </div>
    <div id="content">
      <% @experiment.logs.each do |log| %>
      <div id = "log">
        <h4 id="observation"> Observation: <%= log.observation.title %></h4>
        <p id="observer_name">name: <%="#{log.user.first_name} #{log.user.last_name}"%></p>
          <div id="procedure_task">
              <ol>
             <% @experiment.procedures.each do |experiment_procedure| %>
               <li><%= experiment_procedure.text%>
                <% if log.procedures.include?(experiment_procedure)%>
                  <i class="tiny material-icons cyan">done</i></li>
             <% end %>
         <% end %>
              </ol>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="new_log_form">
  <a href="/experiments/<%= @experiment.id %>/logs/new">Create New Log</a>
</div>




=======
>>>>>>> master
