<div class="experiment_show_container">
  <h1>Experiment: <%= @experiment.title %></h1>
  <ul>
    <li>
      <label class="exp_header">Problem:</label> <%= @experiment.problem %>
    </li><br>
     <li>
     <label class="exp_header">Proposal:</label> <%= @experiment.proposal.abstract %>
    </li><br>
    <li>
      <label class="exp_header">Hypothesis:</label> <%= @experiment.hypothesis %>
    </li><br>
    <li>
      <label class="exp_header">Materials:</label> <%= @experiment.materials %>
    </li><br>
    <li>
      <label class="exp_header">Procedures:</label> <%= @experiment.procedure %>
    </li><br>
    <li>
      <label class="exp_header">Results:</label> <%= @experiment.results %>
    </li><br>
    <li>
      <label class="exp_header">Conclusion:</label> <%= @experiment.conclusion %>
    </li><br>
    <li>
      <label class="exp_header">Active:</label> <%= @experiment.active %>
    </li><br>
    <li>
      <label class="exp_header">Begin date:</label> <%= @experiment.start_date %>
    </li><br>
    <li>
      <label class="exp_header">End date:</label> <%= @experiment.end_date %>
    </li><br>
    <li>
    </li>
    <li>
    </li>
    <h3> Researchers </h3>
    <ul>
    <% @experiment.researchers.each do |researcher| %>
      <li><%= link_to "#{researcher.first_name} #{researcher.last_name}", user_path(researcher) %></li>
    <% end %>
    </ul>

  <div id="content">
    <% @experiment.logs.each do |log| %>
    <div id = "log">
      <h4> Observation: <%= log.observation.title %></h4>
      <p>name: <%="#{log.user.first_name} #{log.user.last_name}"%></p>
       <% @experiment.procedures.each do |experiment_procedure| %>
       <p><%= experiment_procedure.text%>
        <% if log.procedures.include?(experiment_procedure)%>
          CHECKED!
        <% end %></p>
       <% end %>
       </div>
    <% end %>
  </div>
</div>
