<h1><%= @experiment.title %></h1>
<ul>
  <li>
    Problem: <%= @experiment.problem %>
  </li>
   <li>
    Proposal: <%= @experiment.proposal %>
  </li>
  <li>
    Hypothesis: <%= @experiment.hypothesis %>
  </li>
  <li>
    Materials: <%= @experiment.materials %>
  </li>
  <li>
    Procedures: <%= @experiment.procedure %>
  </li>
    <li>
    <h3> Observations </h3>
    <%= @experiment.observations.each do |observation|%>
    <h4><%= observation.title %></h4>
    <p><%=  observation.text %></p>
    <p> - <%= link_to "#{observation.user.first_name} #{observation.user.last_name}" , user_path(observation.user)%></p>
    <% end %>
  </li>
  <li>
    Results: <%= @experiment.results %>
  </li>
  <li>
    Conclusion: <%= @experiment.conclusion %>
  </li>
  <li>
    Active: <%= @experiment.active %>
  </li>
  <li>
    Begin date: <%= @experiment.start_date %>
  </li>
  <li>
    End date: <%= @experiment.end_date %>
  </li>
  <li>
  </li>
  <li>
  </li>
  <h3> Researchers </h3>
  <ul>
  <% @experiment.researchers.each do |researcher| %>
    <li><%= link_to "#{researcher.first_name} #{researcher.last_name}", user_path(researcher) %></li>
  <% end %>
  </ul>
  <h1>Logs</h2>
    <table>
      <th>procedure</th><th>researcher</th><th>observation </th><th>completed at</th>
    <% @experiment.logs.each do |log| %>
      <tr><td>log.procedure</td><td>log.user</td><td>log.observation</td><td>log.created_at</td></tr>
    <% end %>
    </table>
</ul>
