<h1>Create User</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %><br>
    <%= f.input :last_name %><br>
    <%= f.input :email %><br>
    <%= f.input :password %><br>
    <%= f.input :admin,     as: :radio_buttons %><br><br>
    <%= f.button :submit %>
  <% end %>
