<h1><%= @user.first_name %></h1>
<ul>
    <% if @user.admin %>
  <li>
    <p> Administrator</p>
  </li>
    <% end %>
  <li>
    <%= "#{@user.first_name} #{@user.last_name}" %>
  </li>
  <li>
    <%= @user.email %>
  </li>
  <h3> Research </h3>
  <% @user.experiments.each do |experiment| %>
    <%= link_to experiment.title, experiment_path(experiment) %>
  <% end %>
  <%= link_to "Edit Profile Information", edit_user_path(@user) %>
</ul>
